*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#header{

width: 100%;
float: left;
}
.container{
width: 90%;
margin: 0 auto;
}
.logo-part{
width: 30%;
float: left;
}
.logo-part img{
width: 50px;
height: 50px;
}
.menu-part{
width: 70%;
float: left;

}
.menu-part nav{
width: 100%;
float: left;
}
.menu-part nav ul{
display: inline-flex;
list-style: none;
color: cornsilk;
}
.menu-part nav ul li{
width: 14%;
margin: 15px;
padding: 15px;
}
.menu-part nav ul li a{
    text-decoration: none;
    color: black;
}
/* hero part */
.hero{
width: 100%;
float: left;
}
.img-part{
width: 50%;
height: 100%;
float: left;
}
.writting-part{
width: 50%;
float: left;
}
.writting-part button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: aqua;
    border: none;
}